# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

stages:
- stage: Azure-Script-Check
  jobs:
  - job:
    displayName: pipeline-check
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - script: |
        echo "test"
      displayName: 'YAML Checks'