{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Student Portal</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}


</style>
</head>
<body>

<!-- Menubar -->
<div class="w3-top">
  <div class="w3-bar w3-2021-desert-mist w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="http://127.0.0.1:8000/school-admin/" class="w3-bar-item w3-button w3-padding-large w3-brown">Home</a>
    <a href="http://127.0.0.1:8000/school-admin/modify-course/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-brown">Modify Courses</a>
    <a href="http://127.0.0.1:8000/school-admin/modify-student/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-brown">Modify Students</a>
    <a href="http://127.0.0.1:8000/school-admin/modify-professor/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-brown">Modify Faculty</a>
  </div>
  

  <!-- Menubar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="http://127.0.0.1:8000/school-admin/" class="w3-bar-item w3-button w3-padding-large w3-brown">Home</a>
    <a href="http://127.0.0.1:8000/school-admin/modify-course/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-brown">Modify Courses</a>
    <a href="http://127.0.0.1:8000/school-admin/modify-student/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-brown">Modify Students</a>
    <a href="http://127.0.0.1:8000/school-admin/modify-professor/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-brown">Modify Faculty</a>
  </div>
</div>



<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content" style="max-width:1080px;">
    <h1>Modify Course Attributes</h1>
    <h3>OR</h3>
    <form action="http://localhost:8000/school-admin/modify-course/add-course/?">
      <input type="submit" value="Add New Course" />
    </form>
    <div class="w3-dropdown-hover w3-padding-16">
        <select class="w3-select w3-border" name="option">
            <option value="" disabled selected>Select a term</option>
            <option value="1">2022 Summer</option>
            <option value="2">2022 Fall</option>
            <option value="3">2023 Winter</option>
        </select>
    </div>
    <div class="w3-dropdown-hover w3-padding-16">
      <select class="w3-select w3-border" name="option">
          <option value="" disabled selected>Subject</option>
          <option value="1">GNG</option>
          <option value="2">CSI</option>
          <option value="3">MCG</option>
          <option value="4">DTI</option>
          <option value="5">ELG</option>
      </select>
    </div>
    <div class="w3-dropdown-hover w3-padding-16">
      <select class="w3-select w3-border" name="option">
          <option value="" disabled selected>Course Code</option>
          <option value="1">5000</option>
          <option value="2">5100</option>
          <option value="3">5300</option>
      </select>
    </div>
    <div class="w3-dropdown-hover w3-padding-16">
      <select class="w3-select w3-border" name="option">
          <option value="" disabled selected>Section</option>
          <option value="1">A00</option>
          <option value="2">B00</option>
          <option value="3">C00</option>
      </select>
    </div>
    <div class="w3-dropdown-hover w3-padding-16">
      <select class="w3-select w3-border" name="option">
          <option value="" disabled selected># of Units</option>
          <option value="1">1.5</option>
          <option value="2">3</option>
      </select>
    </div>
    <div class="w3-dropdown-hover w3-padding-16">
      <select class="w3-select w3-border" name="option">
          <option value="" disabled selected>Time</option>
          <option value="1">2022 Summer</option>
          <option value="2">2022 Fall</option>
          <option value="3">2023 Winter</option>
      </select>
    
    </div>
    <div class="w3-dropdown-hover w3-padding-16">
      <select class="w3-select w3-border" name="option">
          <option value="" disabled selected>Location</option>
          <option value="1">136 Jean-Jacques L. (VNR)</option>
          <option value="2">200 Lees (LEE)</option>
          <option value="3">150 Louis Pasteur (STM)</option>
      </select>
    </div>
    <div class="w3-dropdown-hover w3-padding-16">
        <select class="w3-select w3-border" name="option">
            <option value="" disabled selected>Room</option>
            <option value="1">A131</option>
            <option value="2">034</option>
            <option value="3">3075</option>
        </select>
      </div>
    <div class="w3-dropdown-hover w3-padding-16">
      <select class="w3-select w3-border" name="option">
          <option value="" disabled selected>Capacity</option>
          <option value="1">50</option>
          <option value="2">75</option>
          <option value="3">100</option>
      </select>
    </div>
    <button type="button">Filter Classes</button>
    <div class="w3-responsive">
        <table class="w3-table-all w3-hoverable">
            <thead>
                <tr class="w3-brown">
                <th>ID</th>
                <th>Course Name</th>
                <th>Course Code</th>
                <th>Section</th>
                <th>Units</th>
                <th>Time</th>
                <th>Room</th>
                <th>Instructor</th>
                <th>Meeting Dates</th>
                <th>Capacity</th>
                <th>Students</th>
                <th></th>
                </tr>
            </thead>
            <tr>
              <th>1</th>
              <th>Natural Language Processing</th>
              <th>CSI 5386</th>
              <th>F00</th>
              <th>3</th>
              <th>Mo 2:30PM - 5:30PM</th>
              <th>136 Jean-Jacques L. (VNR) 3075</th>
              <th>Daina Inkpen</th>
              <th>09/07/2022 - 12/07/2022</th>
              <th>100</th>
              <th>Vero Landriault, Michael Smith...</th>
              <td onclick="location.href='http://localhost:8000/school-admin/modify-course/nlp/'"><u>Modify</u></td>
            </tr>
            <tr>
              <th>3</th>
              <th>Cyber Security</th>
              <th>GNG 5300</th>
              <th>B00</th>
              <th>3</th>
              <th>We 11:30AM -2:30PM</th>
              <th>200 Lees (LEE) A131</th>
              <th>Liam Peyton</th>
              <th>09/07/2022 - 12/07/2022</th>
              <th>100</th>
              <th>John Jones, Clark Kent...</th>
              <td onclick="location.href='http://localhost:8000/school-admin/modify-course/fscc/'"><u>Modify</u></td>
            </tr>
            <tr>
                <th>1</th>
                <th>Full Stack Cloud Development</th>
                <th>GNG 5300</th>
                <th>A00</th>
                <th>3</th>
                <th>Tu 5:30PM - 8:20PM</th>
                <th>150 Louis Pasteur (STM) 034</th>
                <th>Masoud Dorrikhteh</th>
                <th>09/07/2022 - 12/07/2022</th>
                <th>100</th>
                <th>Thomas Courtney, Jane Smith...</th>
                <td onclick="location.href='http://localhost:8000/school-admin/modify-course/fscc/'"><u>Modify</u></td>
              </tr>
        </table>
    </div>
<!--
    <div class="w3-third w3-center">
      <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
    </div>
    -->
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content" style="max-width:1080px">
    <h2 class="w3-center">Issues? Contact IT</h2>
    <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
        <div class="w3-rest">
        <input class="w3-input w3-border" name="first" type="text" placeholder="Full Name">
        </div>
    </div>

    <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa-solid fa-hashtag"></i></i></div>
        <div class="w3-rest">

        <input class="w3-input w3-border" name="last" type="text" placeholder="Employee ID">
        </div>
    </div>

    <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa-regular fa-envelope"></i></div>
        <div class="w3-rest">
        <input class="w3-input w3-border" name="email" type="text" placeholder="Employee email address">
        </div>
    </div>
    <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
        <div class="w3-rest">
        <input class="w3-input w3-border" name="message" type="text" placeholder="Explain your issue in detail">

        </div>
    </div>

    <button class="w3-button w3-block w3-section w3-blue w3-ripple w3-padding">Send</button>
  </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-8 w3-center w3-opacity">  
    <p>Copyright 2022 All Rights Reserved by Student Portal development team</p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>